.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desc {
    text-align: center;
}

.logo {
    width: 20%;
    margin: 0 auto;
    margin-top: 35px;
}

.black {
    width: 20px;
    height: 20px;
    background-color: black;
    margin-top: 50px;
}

.red {
    width: 20px;
    height: 20px;
    background-color: red;
    margin-top: 50px;
}

.inputDef {
    margin: 20px 0;
}

.todosTitle {
    font-size: 30px;
    font-weight: 800;
    margin: 0;
    margin-top: 50px;
}

.todoList {
    list-style: decimal;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 140px;
    max-width: 140px;
}

.todo h4 {
    font-size: 18px;
}